/* BS NavBar CSS */
.navbar {
    min-height: 100px;
    font-size: 20px !important;
    font-family: 'Trirong', serif !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
}

.marcellus {
    font-family: 'Marcellus', serif !important;
}

.trirong-thin {
    font-family: 'Trirong', serif !important;
    font-weight: 100 !important;
}

.trirong-med {
    font-family: 'Trirong', serif !important;
    font-weight: 400 !important;
}

/* NavBar Div */
/* .navDiv {
    min-height: 200px !important;
    background-color: #F1F6F7;
    z-index: 9999999999 !important;
    position: fixed !important;
} */


/* Background Colors */

.alignlightgrey {
    background: rgb(235, 231, 225) !important;
}

.aligncream {
    background: rgb(235, 228, 212) !important;
}

.aligncreammed {
    background: rgb(218, 207, 201) !important;
}

.aligncreamdark {
    background: rgb(214, 193, 164) !important;
}


.alignbrown {
    background: rgb(129, 95, 81) !important;
}

.alignlightbrown {
    background: rgb(161, 144, 129) !important;
}


/* Text Colors */

.aligncreamtext {
    color: rgb(239, 230, 215) !important;
}

.alignlightbluetext {
    color: rgb(241, 246, 247) !important;
}

.alignlightgreytext {
    color: rgb(228, 229, 231) !important;
}

.alignlightbrowntext {
    color: rgb(208, 198, 190) !important;
}

.aligndarkcreamtext {
    color: rgb(200, 181, 149) !important;
}

.aligndarkgreytext {
    color: rgb(80, 82, 80) !important;
}

.alignbrowntext {
    color: rgb(212, 167, 138) !important;
}

.mirage {
    font-family: made-mirage-thin, serif;
}

